<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.6.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="4.0.5.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="4.0.13.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="2.0.8" targetFramework="xamarinios10" />
  <package id="Zebble" version="4.4.185" targetFramework="xamarinios10" />
</packages>